.botonlogin {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.loginImage {
  width: 30px;
  height: 30px;
}

@media (max-width: 550px) {
  .labellogin {
    display: none;
  }
}
