@media screen and (orientation: portrait) {
  .titulo-catalogo {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 6vw;
  }
}

@media screen and (orientation: landscape) {
  .titulo-catalogo {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 4vw;
  }
}

@media screen and (min-width: 323px) {
  .container-image.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 322px) {
  .container-image.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.container-title {
  display: flex;
  flex-direction: column;
}

.categorias{
  font-weight: bold;
}

.catdiv{
  align-self: center;
  vertical-align: sub;
}

.borde{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  width: 100px;
  height: 100px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  overflow: hidden;
}

.contenedor{
  display: inline-block;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.imgCat{
  width: 100px;
}
