@media screen and (orientation: portrait) {
  .titulo-catalogo {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 6vw;
  }
  .subtitulo {
    padding: 0 5em 0 5em;
    color: #6f3d07;
    margin: 1px;
    font-weight: bold;
    font-size: 3vw;
  }
}

@media screen and (orientation: landscape) {
  .titulo-catalogo {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 4vw;
  }
  .subtitulo {
    padding: 0 13em 0 13em;
    color: #6f3d07;
    margin: 1px;
    font-weight: bold;
    font-size: 2vw;
  }
}

@media screen and (min-width: 323px) {
  .container-image.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89%;
  }
}

@media screen and (max-width: 322px) {
  .container-image.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.container-title {
  display: flex;
  flex-direction: column;
}