.titulo {
  margin: 0;
  color: #000000;
  font-size: xxx-large;
}

.container-image.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subtitulo {
  color: #6f3d07;
  text-align: center;
  margin: 1px;
}

.container-title {
  display: flex;
  flex-direction: column;
}
