.container-image {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

@media(orientation:landscape){
    .container-image{
        height: 120vh;
        background-size: 100vw 120vh;
    }
}

.container-image.inicio {
    background-image: url(../../images/fondo-pagina_principal.png);
}

.container-image.alimentos, .container-image.anadir-alimento {
    overflow: auto;
    background-image: url(../../images/fondo-alimentos-e-anadir-alimento.png);
}

.container-image.alimentos, .container-image.mostrar-detalle {
    overflow: auto;
    background-image: url(../../images/fondo3.png);
}

.container-image.alimentos, .container-image.login {
    overflow: auto;
    background-image: url(../../images/fondo3.png);
}
