@media screen and (orientation: portrait) {
  .container-title {
    padding-top: 35%;
  }
  .titulo-catalogo {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 6vw;
  }
}

@media screen and (orientation: landscape) {
  .container-title {
    padding-top: 14%;
  }
  .titulo-catalogo,
  .categorias {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 4vw;
  }
}
/*
@media screen and (min-width: 323px) {
.container-image.inicio {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
}

@media screen and (max-width: 322px) {
.container-image.inicio {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
}
 */
.catdiv {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  justify-items: center;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.boton {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.borde {
  width: 100px;
  height: 100px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: grid;
  place-items: center;
}

.imgCat {
  max-width: 100%;
}

.label {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 568px) {
  .catdiv {
    display: grid;
    justify-items: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .borde {
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
}
@media (max-height: 412px) {
  .borde {
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
  }
}
