.clearfix {
  clear: both;
  float: none;
}

.header {
  background-color: white;
  display: flex;
  padding: 0.5em;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 2px;
  border: 10px black;
  align-items: center;
}

.sec1 {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  /*position: absolute;
   */
}

@media (max-width: 400px) {
  .sec1 {
    top: 0;
    right: 0;
    left: 0;
    bottom: -17px;
    overflow-x: scroll;
  }
}

.sec2 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*.image {
  width: 100%;
  max-width: 50px;
  height: auto;
}*/

.link {
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 261px) {
  .text-link {
    color: #4671a4;
    /* font-size: 4vw; */
  }
}

@media screen and (max-width: 260px) {
  .text-link {
    color: #4671a4;
    font-size: 5vw;
  }
}
.botonLoginYLogout {
  margin-right: 10px;
}
