#header{
    height: 100px;
    width: 100%;
    background: white;
    border-bottom: 0.5px solid #444;
  }
  #menu{
    width: 70%;
    float: left;
    font-size: 16px;
   
  }
  #menu ul{
    line-height: 85px;
    width: 60%;
    float: left;
  }
  #menu ul li{
    display: inline-block; /* pone uno a lado de otro*/
    list-style: none;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
  }
  #menu a:hover{
    color: #3cb2d3;
  }
  .clearfix{
    clear: both;
    float: none;
  }
.Catalogo{
    text-align: center;
    padding-top: 80px;

}
