@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: url(fondo.png);
    background-size: cover;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 10px;
}