@import url('https://fonts.googleapis.com/css2? family = Comic + Neue: ital @ 1 & display = swap'); 
* {
	box-sizing: border-box;
}

body {
	background: url(fondo.png);
    background-size: cover;
	font-family: 'Comic Neue', cursive;
	font-size: 18px;
}

main {
	
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 10px;
}