body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
	
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 10px;
}

* {
	box-sizing: border-box;
}