.clearfix {
    clear: both;
    float: none;
}

.header {
    display: flex;
    padding: 0.5em;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 2px;
    border: 10px black;
    align-items: baseline;
}

.image {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.link {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 261px) {
    .text-link {
        color: #4671a4;
        /* font-size: 4vw; */
    }
}

@media screen and (max-width: 260px) {
    .text-link {
        color: #4671a4;
        font-size: 5vw;
    }
}