.contenedorPrincipal{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 30px;
    border: 2px solid #000000;
    padding: 20px;
    background: rgb(255,255,255,0.6);
    color: #000000;
    padding-left: 1rem;
    padding-right: 1rem;

}
@media screen and (orientation: portrait) and (min-width: 280px){
    .contenedorPrincipal{
        top: 55%;
    }
}

@media screen and (orientation: landscape) and (max-width: 850px) {
    .contenedorPrincipal {
        top: 75%;
    }
}

.contenedorSecundario{
    text-align: left;
    display: flex;
    min-height: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 240px;

}

.titulo{
    text-align: center;
    width: 250px;
}

.image1{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}