.resultado{
    /* background: rgba(0, 0, 0, 0.1); */
    height: 100%;
    /* height: auto; */
    background-image: url(../../images/fondo3.png);
    background-size: inherit;
    overflow: auto;
    color: #000000;
}
.resultado h1{
    padding-left: 1rem;
    padding-right: 1rem;

}
.card{
    width: 130px;
    height: 152px;
    margin: auto auto;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding-top: 10px;
    /* max-width: calc(100% - -8em) !important; */
}

.contenedor{
    padding: 15px;
    align-content: center;
}

.card-img-top{
    padding-top: 10px;
}

.card-body{
    padding: 0.4rem !important;
}

.card-title{
    color: #000000;
    
}

.row{
    justify-content: center;
    width: auto;
}

.link{
    color: #000000;
    text-decoration-color: transparent !important; 
}